.App-header {
  /*background-color: #282c34;*/
  background-color: #174c80;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #174c80;
}

.navbar-item {
  color: #fff;
}

.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

